<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="#">Despre Noi</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Social Media</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Voluntariat</a>
  </li>
</ul>