<!DOCTYPE html>
<br>
<div class="jumbotron" style="max-height: 440px; padding:30px; background-color: #002b7f; color: #FFFFFF;">
<h1 class="display-3" id="heading">CONSILIUL DE ADMINISTRAŢIE<h1>
</div>
<div class="mainPanel">
<p class="lead">Românul este o organizaţie non-profit cu membri (membership organization), condusă de o echipă de 9 (nouă) voluntari.
Vă rugăm să nu ezitaţi să ne contactaţi cu idei şi sugestii care să ajute la dezvoltarea comunității. Vă mulţumim!</p>

<br>

<h2>Consiliul de administratie validat la adunarea generala din 27 februarie 2021:</h2>
<ul>
<li>Ionel Dragoș Hau, Președinte, Secretar</li>
<li>Silviu Lupsa, Vicepreședinte</li>
<li>Antonia Baroga, Contabil</li>
<li>Radu Radulescu, Trezorier</li>
<li>Constantin Albu, Consilier</li>
<li>Sorin Todeasa, Consilier</li>
<li>Marian Anton, Consilier</li>
<li>Constantin Vulpescu, Consilier</li>
<li>Mirela Panaitisor, Consilier</li>
</ul>

<br>

<h2>Responsabilităţile consilierilor (ale membrilor consiliului de administraţie):</h2>
<ul>
<li>Înţelegerea şi aplicarea misiunii organizaţiei Românul, a regulamentului ei de funcţionare (Bylaws) şi a regulilor interne;</li>
<li>Stabilirea strategiilor şi a valorilor organizaţiei Românul, prin supravegherea şi dezvoltarea periodică a unui “plan strategic” şi prin stabilirea metodelor care să ducă la îndeplinirea lui;</li>
<li>Contribuirea la sănătatea financiară a organizaţiei Românul, prin supraveghere fiscală şi prin dezvoltarea resurselor organizaţiei;</li>
<li>Participarea la şedinţele consiliului de administraţie şi la alte activităţi concepute pentru sporirea cunoştinţelor şi a experienţei consilierilor;</li>
<li>Evitarea conflictelor de interes dintre viaţa personală sau interesele de afaceri, şi îndatoririle faţă de organizaţie;</li>
<li>Menţinerea confidenţialităţii informaţiilor organizaţiei;</li>
<li>Reprezentarea organizaţiei Românul în comunitate, astfel încât să conducă la sprijinirea şi protejarea misiunii organizaţiei.</li>
</ul>

<br>

<h2>Responsibilităţile legale ale consiliului de administraţie::</h2>
<ul>
<li>Îndatorirea de atenţie (Duty of Care), reprezintă responsabilitatea pe care o persoană rezonabilă, prudentă, o exercită prin atenţia oferită în situaţii similare şi într-o poziţie similară.</li>
<li>Îndatorirea de devotament (Duty of Loyalty), reprezintă standardul de loialitate; un membru al consiliului de administraţie trebuie să dovedească loialitate fermă faţă de organizaţie, atunci când ia decizii care afectează organizaţia.</li>
<li>Îndatorirea de supunere (Duty of Obedience), reprezintă responsabilitatea membrilor consiliului de administraţie de a se supune misiunii organizaţiei. Acestora nu le este permis să acţioneze într-o manieră incompatibilă cu misiunea şi obiectivele organizaţiei.</li>
</ul>



</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> %>