<!DOCTYPE html>
<br>
<div class="jumbotron" style="max-height: 440px; padding:30px; background-color: #002b7f; color: #FFFFFF;">
<h1 class="display-3" id="heading">DESPRE NOI<h1>
</div>
<div class="mainPanel">
<p class="lead">Organizaţia non-profit Românul a apărut din dorinţa înfiinţării unei 
platforme menită să unească comunitatea românească din statul 
Connecticut, iar mai apoi a comunităţilor româneşti din nord-estul 
Statelor Unite ale Americii. Scopul nostru este să consolidăm potenţialul spiritual şi 
economic al comunităţii româneşti, şi prin asta, să contribuim la integrarea 
membrilor ei în societatea americană.</p>

<br>

<p class="lead">Crearea organizaţiei Românul s-a impus şi din nevoia ca românii să fie reprezentaţi mai bine în 
relaţiile cu organismele guvernamentale, cu presa, şi alte organizaţii americane. Este în aceeaşi 
măsură important să întărim relaţiile dintre membrii comunităţii, prin iniţierea de diferite 
activităţi, prin ajutor reciproc, prin înlăturarea oricăror încercări de dezbinare.</p>

<br>

<p class="lead">Nu în ultimul rând, Românul există din nevoia membrilor comunităţii româneşti de a-şi păstra şi 
promova valorile naţionale, şi a patrimoniului nostru cultural şi spiritual. Acest fapt nu 
îngreunează integrarea comunităţii româneşti în societatea americană, dimpotrivă, ajută la 
îmbogăţirea vieţii societăţii americane prin aportul avuţiei culturale şi spirituale imense de care 
dispune naţiunea română, acumulată de-a lungul istoriei. Integrarea în comunitatea americană 
nu presupune, aşadar, uitarea originilor.</p>

<br>

<p class="lead">Organizaţia Românul va oferi membrilor săi un sprijin informaţional adecvat, va aduce 
la cunoştinţa membrilor comunităţii programul activităţilor sale, va răspunde solicitărilor şi va da 
curs propunerilor menite să consolideze locul şi rolul nostru comun în viaţa socială şi 
economică americană.</p>

<br>

<p class="lead">Vă îndemnăm să adăugaţi pasiunea şi dinamismul dumneavoastră pentru cauza Românul, 
eforturilor noastre.</p>

<br>

<p class="lead">Vă mulţumim!</p>
</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> %>