
<h1 class="display-3">Donatii</h1>
<div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<h4 style="text-align: center;"><input name="cmd" type="hidden" value="_s-xclick" /> <input name="hosted_button_id" type="hidden" value="QKEC3G3X9P3RJ" /><span style="color: #000080;">  PAYPAL</span></h4>
<table>
<tbody>
<tr>
<td><input name="on0" type="hidden" value="Name" />Name</td>
</tr>
<tr>
<td><input maxlength="200" name="os0" type="text" /></td>
</tr>
<tr>
<td><input name="on1" type="hidden" value="Email address" />Email address</td>
</tr>
<tr>
<td><input maxlength="200" name="os1" type="text" /></td>
</tr>
</tbody>
</table>
<input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" type="image" /> <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" /></form><!-- /wp:html -->

<!-- wp:html -->
<p style="text-align: center;"> </p>
<!-- /wp:paragraph -->
</div>


<a href="https://smile.amazon.com/gp/chpf/homepage/ref=smi_chpf_redirect?ie=UTF8&ein=45-1256462&ref_=smi_ext_ch_45-1256462_cl" >Amazon Smile</a>