<!DOCTYPE html>
<br><br><br><br><br>
<div class="jumbotron" style="max-height: 440px; padding:30px; background-color: #002b7f; color: #FFFFFF;">
<h1 class="display-3" id="heading">MISIUNE ȘI OBIECTIVE<h1>
</div>
<div class="mainPanel">
<h2>Misiunea şi scopul organizaţiei:</h2>
<p class="lead">Românul este o organizaţie non-profit, care are ca scop sprijinirea comunităţii româneşti din 
nord-estul Statelor Unite ale Americii, pentru o integrare plenară în societatea americană, păstrându-şi în 
acelaşi timp valorile naţionale, culturale şi spirituale.</p>

<br>

<h2>Obiectivele de bază ale organizaţiei:</h2>
<ul>
<li>Facilitarea integrării noilor veniţi pe plan economic şi social în societatea americană;</li>
<li>Favorizarea integrării sociale a tuturor membrilor comunităţii româneşti în societatea americană;</li>
<li>Organizarea de programe educaţionale, seminare, acţiuni sociale şi culturale, precum şi a unor activităţi de susţinere informaţională;</li>
<li>Cooperarea cu autorităţile locale în vederea promovării intereselor comunităţii;</li>
<li>Stimularea parteneriatelor cu alte asociaţii si comunităţi americane;</li>
<li>Promovarea dezvoltării sociale şi economice a comunităţii româneşti;</li>
<li>Încurajarea dialogului intracomunitar, sprijinul activ al comunităţii în domeniile profesional, artistic, cultural, economic;</li>
<li>Iniţierea de lucrări comunitare, serate recreative, acţiuni sociale, cursuri de limbă;</li>
<li>Promovarea muzicii româneşti, a folclorului şi artelor;</li>
<li>Organizarea sărbătorilor naţionale;</li>
<li>Susţinerea proiectelor care vizează dezvoltarea eficientă a unor grupuri specializate, precum a femeilor, tinerilor, copiilor sau a oamenilor de afaceri;</li>
<li>Realizarea de cercetări, sondaje, analize pentru a descoperi problemele cu care se confruntă membrii comunităţii;</li>
<li>Organizarea de acţiuni filantropice şi de caritate.</li>
</ul>

<br>

<p class="lead">Vă mulţumim!</p>
</div>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> %>
    <%# <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> %>