<!DOCTYPE html>
<br>
<%# <div class="jumbotron" style="max-height: 440px; padding:30px; background-color: #002b7f; color: #FFFFFF;">
<h1 class="display-3" id="heading">MISIUNE ȘI OBIECTIVE<h1>
</div> %>
<body style="font-family: 'Cormorant Garamond', serif;">
<div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner" style="background-color: #002b7f; border: 1px solid;">
          <h1 class="display-4">MISIUNE ȘI OBIECTIVE</h1>
          <p class="lead">Missions And Objectives</p>
          </p>
        </div>
      </div>
    </div>

<div class="mainPanel" style="border: 1px solid;  padding-top: 8%;">
<h2>Misiunea şi scopul organizaţiei:</h2>
<p class="lead">Românul este o organizaţie non-profit, care are ca scop sprijinirea comunităţii româneşti din 
nord-estul Statelor Unite ale Americii, pentru o integrare plenară în societatea americană, păstrându-şi în 
acelaşi timp valorile naţionale, culturale şi spirituale.</p>

<br>

<h2>Obiectivele de bază ale organizaţiei:</h2>
<ul>
<li>Facilitarea integrării noilor veniţi pe plan economic şi social în societatea americană;</li>
<li>Favorizarea integrării sociale a tuturor membrilor comunităţii româneşti în societatea americană;</li>
<li>Organizarea de programe educaţionale, seminare, acţiuni sociale şi culturale, precum şi a unor activităţi de susţinere informaţională;</li>
<li>Cooperarea cu autorităţile locale în vederea promovării intereselor comunităţii;</li>
<li>Stimularea parteneriatelor cu alte asociaţii si comunităţi americane;</li>
<li>Promovarea dezvoltării sociale şi economice a comunităţii româneşti;</li>
<li>Încurajarea dialogului intracomunitar, sprijinul activ al comunităţii în domeniile profesional, artistic, cultural, economic;</li>
<li>Iniţierea de lucrări comunitare, serate recreative, acţiuni sociale, cursuri de limbă;</li>
<li>Promovarea muzicii româneşti, a folclorului şi artelor;</li>
<li>Organizarea sărbătorilor naţionale;</li>
<li>Susţinerea proiectelor care vizează dezvoltarea eficientă a unor grupuri specializate, precum a femeilor, tinerilor, copiilor sau a oamenilor de afaceri;</li>
<li>Realizarea de cercetări, sondaje, analize pentru a descoperi problemele cu care se confruntă membrii comunităţii;</li>
<li>Organizarea de acţiuni filantropice şi de caritate.</li>
</ul>

<br>

<p class="lead">Vă mulţumim!</p>
</div>
<br><br>
</body>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <%# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>  %>
  <%# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   