<!DOCTYPE html>
<br>
<%# <div class="jumbotron" style="max-height: 440px; padding:30px; background-color: #002b7f; color: #FFFFFF;">
<h1 class="display-3" id="heading">REGULAMENT DE FUNCȚIONARE<h1>
</div> %>
<body style="font-family: 'Cormorant Garamond', serif;">
<div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner" style="background-color: #002b7f;">
          <h1 class="display-4">REGULAMENT DE FUNCȚIONARE</h1>
          <p class="lead">Select a category from the list below</p>
          </p>
        </div>
      </div>
    </div>

<div class="mainPanel">
<p class="lead">Regulamentul de funcționare garantează rezolvarea situațiilor conflictuale înainte ca ele să 
deterioreze munca voluntară și buna credință a membrilor organizației, protejând astfel investiția de încredere din partea comunității românești.
Regulamentul de funcționare oferă indicații în privința bunei derulări a activităților organizației și cadrul ierarhic 
în care acestea se desfășoară, așadar determină responsabilitățile și compentențele conducerii și membrilor organizației.
Documentul original al regulamentului de funcționare (numit Bylaws) a fost adoptat la prima ședință anuală a consiliului 
de administrație (Board of Directors) și stă la disponiziția tuturor membrilor organizației, la cerere, conform legilor în vigoare..</p>

<br>
<h2>Sumarul regulamentului de funcţionare:</h2>

<ul>
<li>Articolul 1. – Statutul organizaţiei Românul, numele și sigla sa.</li>
<li>Articolul 2. – Misiunea și obiectivele organizaţiei.</li>
<li>Articolul 3. – Calitatea de membru. Orice persoană de origine română, sau la recomandarea scrisă a doi membri ai organizaţiei, 
care și-a plătit cotizația anuală, are drept de vot în cadrul organizaţiei. Drepturile și responsabilităţile membrilor sunt determinate 
de consiliul de administraţie (Board of Directors).</li>
<li>Articolul 4. – Ședinţele membrilor. Alegerile consilierilor din cadrul consiliului de administraţie vor avea loc la fiecare întâlnire 
anuală a membrilor. Cvorumul necesar pentru desfășurarea ședinţelor membrilor este de o treime din totalul membrilor.</li>
<li>Articolul 5. – Procedurile de votare. Sesiunile de votare se vor desfășura în mod verbal, cu excepţia votării funcționarilor și a consilierilor, 
când vor fi folosite buletine de vot. Buletinele de vot vor fi verificate de trei membri prezenţi (numiţi ”inspectori de votare”) care vor urmări 
buna defășurare a votului.</li>
<li>Articolul 6. – Consiliul de administraţie. Organizaţia va avea cel puţin 9 și cel mult 11 consilieri, care sunt aleși pentru perioade de 3 ani, 
și nu mai mult de 2 mandate consecutiv. Consilierul poate fi înlăturat din cadrul consiliului de administraţie dacă nu participă la cel puţin o treime 
din ședinţele consiliului, dacă este acuzat sau inculpat pentru orice delict criminal, sau dacă este găsit că a comis vreun act imoral și/sau fraudulos 
în serviciul consiliului.
Orice hotărâre a majorităţii consilierilor va fi considerată hotărâre a consiliului de administraţie, și prin extensie a organizaţiei. Orice membru cu drept 
de vot în vârstă de cel puţin 21 de ani, poate candida pentru un post de consilier.</li>
<li>Articolul 7. – Funcționarii organizaţiei. Funcționarii organizaţiei sunt: președintele, vice-președintele, secretarul și trezorierul. Fiecare va fi ales din 
cadrul consilierilor pentru un an de zile, și nu poate fi ales mai mult de trei ori consecutiv pentru același post. Oricare dintre funcționarii organizaţiei poate 
fi înlăturat din post la dispoziţia consiliului de administraţie, și poate demisiona când dorește, însă fără a prejudicia interesele şi activităţile organizaţiei.</li>
<li>Articolul 8. – Comitetele de lucru ale organizaţiei. Comitetele sunt stabilite cu intentia de a fluidiza activitatea organizaţiei. Cele mai importante comitete de lucru sunt: 
comitetul executiv, comitetul de guvernare şi nominalizare, comitetul pentru afaceri interne, comitetul pentru afaceri externe. Responsabilităţile şi împuternicirile comitetelor de 
lucru sunt stabilite la formarea lor de către consiliul de administraţie.
Comitetele de lucru sunt prezidate şi formate din consilieri ai organizaţiei, dar pot include şi alţi membrii votanţi (aceştia din urmă neavând drept de vot în cadrul comitetului).</li>
<li>Articolul 9. – Contracte, cecuri, împrumuturi, compensaţii, alte chestiuni. Toate procedurile de natură financiară, probleme administrative, contracte, şi alte acţiuni ale organizaţiei, 
precum şi împuternicirile relative, sunt reglementate de consiliul de administraţie, sub incidenţa legii, şi a regulamentului organizaţiei (Bylaws).</li>
<li>Articolul 10. – Diverse. Activitatea organizaţiei va fi documentată sub formă de rapoarte, procese verbale, alte documente specifice, şi vor fi păstrate într-o arhivă a organizaţiei.
Membrii, consilierii şi funcționarii organizaţiei sunt obligaţi să respecte dispoziţiile politicii de conflict de interes a organizaţiei, în toate deciziile care afectează interesele, activităţile şi resursele organizaţiei.
Regulamentul de funcţionare poate fi amendat de ¾ din totalul consilierilor, sau de membrii organizaţiei, cu o majoritate conform legilor care reglementează organizaţiile non-profit.</li>
</ul>

</div>
<br><br>
</body>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <%# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>  %>
  <%# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   