
<div>
Pay Here
<br><br><br><br><br>
<h1 class="display-3" id="heading">REZERVARE LOCURI</h1>
</div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal"><input name="cmd" type="hidden" value="_s-xclick" /> <input name="hosted_button_id" type="hidden" value="ZNKUCK336X8H6" />
<table>
<tbody>
<tr>
<td><input name="on0" type="hidden" value="Romanul event tickets for" />Romanul event tickets for</td>
</tr>
<tr>
<td><select name="os0">
<option value="Members, seniors, students">Members, seniors, students $60.00 USD</option>
<option value="Non-members">Non-members $65.00 USD</option>
</select></td>
</tr>
<tr>
<td><input name="on1" type="hidden" value="First and Last Name" />First and Last Name</td>
</tr>
<tr>
<td><input maxlength="200" name="os1" type="text" /></td>
</tr>
<tr>
<td><input name="on2" type="hidden" value="Number of children under 16" />Number of children under 16</td>
</tr>
<tr>
<td><input maxlength="200" name="os2" type="text" /></td>
</tr>
</tbody>
</table>
<input name="currency_code" type="hidden" value="USD" /> <input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" type="image" /> <img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" /></form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> %>