
<br><br><br><br><br>
<div class="jumbotron" style="max-height: 440px; padding:30px; background-color: #002b7f; color: #FFFFFF;">
<h1 class="display-3" id="heading">ȘCOALA &#206N LIMBA ROM&#194N&#194<h1>
</div>

<section id="section1">
<nav class="navbar navbar-expand-md navbar-light">
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll" href="#section2">Registration</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll" href="#section3">Classes Offered</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll" href="#section4">Instructors</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll" href="#section5">Rules And Policies</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll" href="#section6">Sponsors And Donors</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll" href="#section7">School Board</a>
      </li>

    </ul>
  </div>
</nav>
<section>
<br><br><br>


<div class="main">
  <section id="section2">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2>Romanian  Language – Spring 2022 Registration and Payment</h2>
        <p>First classes start on 15-16 January, 2022. Please first register here for Romanian 
        for Beginners and Intermediary Romanian. You can make the payment using the panel on the right. 
        After completing the process, a Zoom link for the class will be sent to you before the start of the classes. Thank you!</p>
        <br>
        <p>We use PayPal for processing the payment. You can check out as Paypal Guest using any credit card. </p>
        <br>
        <p>Fee schedule for the 12-hour package  
        ▪ Romȃnul Corp members : $144 (at $12/hour). See *A Note on Benefits*   
        ▪ Non-members: $180 (at $15/hour)                   
        We offer packages only.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
      </div>
  </section>
</div>

  <br>
  <div class="main">
  <section id="section3">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2>CLASSES CURRENTLY OFFERED (FALL  2021)</h2>
        <h1>Romanian for Beginners – Level 1</h1>
        <p>For children and youth who do not speak Romanian at all but who have some basic understanding as latent language 
        (ex. can translate some simple Romanian words or phrases into English).</p>
        <br>
        <h1>Romanian for Beginners – Level 2</h1>
        <p>For children who understand some Romanian and speak simple words or phrases but who do not read.</p>
        <br>
        <h1>Romanian for Beginners – Level 3</h1>
        <p>For children who understand rather well, can speak with the characteristic mistakes and who can read at the 
        level of first or second grade in Romania. </p>
        <br>
        <h1>Intermediary Romanian – Level 1</h1>
        <p>A class for youth and adults who understand, speak and write basic Romanian and who aim at improving their 
        language skills and their general knowledge about the Romanian culture. </p>
        <br>
        <h5>Saturday at 9, 10 and 11 AM/ Sunday at 11 AM, 12 PM, 1 PM. Time is listed as US Eastern Standard Time (EST) New York (GMT -5) (Bucharest -7)</h5>
        <h5>The 12 sessions will be offered via Zoom only. In addition, we might schedule some special in-person sessions in a few locations in Connecticut.
Thank you for your support and we are looking forward to another great school year together!</h5>
<br>
        <h1>Romanian as Second Language for Adults – an online summer class for our American friends and relatives</h1>
        <p>The class offers an introduction to Romanian language with examples from daily life, including also aspects 
        from Romanian culture. The course schedule is flexible and it will be determined together with the instructor at 
        the most convenient dates and time for all the participants.</p>
        <br>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
      </div>
  </section>
  </div>

  <br>
  <div class="main">
  <section id="section4">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2>Fall 2021 Instructors</h2>
        <p>When you click on the scroll down arrow, this is where you will end up.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
      </div>
  </section>
</div>

  <br>
  <div class="main">
  <section id="section5">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2>Rules and Policies</h2>
        <p>When you click on the scroll down arrow, this is where you will end up.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
      </div>
  </section>
  </div>

  <br>
  <div class="main">
  <section id="section6">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2>Sponsors and Donors</h2>
        <p>When you click on the scroll down arrow, this is where you will end up.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
      </div>
  </section>
  </div>

  <br>
  <section id="section7">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2>Romanul Corp – Romanian Language School Board</h2>
        <p>When you click on the scroll down arrow, this is where you will end up.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
      </div>
      </div>
  </section>
  </div>

  <br><br>
  <a class="ct-btn-scroll ct-js-btn-scroll" href="#section1">Back To Top</a>
  <br><br>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>