
<br><br><br><br><br>
<div class="jumbotron" style="max-height: 440px; padding:30px; background-color: #002b7f; color: #FFFFFF;">
<h1 class="display-3" id="heading">ȘCOALA &#206N LIMBA ROM&#194N&#194<h1>
</div>

<section id="section1">
<nav class="navbar navbar-expand-md navbar-light">
  <%# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll buttonfx slideleft bouncein" href="#section2">Registration</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll buttonfx slideleft bouncein" href="#section3">Classes Offered</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll buttonfx slideleft bouncein" href="#section4">Instructors</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll buttonfx slideleft bouncein" href="#section5">Rules And Policies</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll buttonfx slideleft bouncein" href="#section6">Sponsors And Donors</a>
      </li>

      <li class="nav-item">
        <a class="ct-btn-scroll ct-js-btn-scroll buttonfx slideleft bouncein" href="#section7">School Board</a>
      </li>

    </ul>
  </div>
</nav>
<section>
<br><br>


<div class="main">
  <section id="section2">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2 id="bold">Romanian  Language – Spring 2022 Registration and Payment</h2>
        <br>
        <p>First classes start on 15-16 January, 2022. Please first register here for Romanian 
        for Beginners and Intermediary Romanian. You can make the payment using the panel on the right. 
        After completing the process, a Zoom link for the class will be sent to you before the start of the classes. Thank you!</p>
        <br>
        <p>We use PayPal for processing the payment. You can check out as Paypal Guest using any credit card. </p>
        <br>
        <p>Fee schedule for the 12-hour package  
        ▪ Romȃnul Corp members : $144 (at $12/hour). See *A Note on Benefits*   
        ▪ Non-members: $180 (at $15/hour)                   
        We offer packages only.</p>
<br>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal"><input name="cmd" type="hidden" value="_s-xclick" />
<input name="hosted_button_id" type="hidden" value="B7RKWZDBSUWJS" />
<table>
<tbody>
<tr>
<td><input name="on0" type="hidden" value="Categories" />Categories</td>
</tr>
<tr>
<td><select name="os0">
<option value="Non-Member">Non-Member $180.00 USD</option>
<option value="Member">Member $144.00 USD</option>
</select></td>
</tr>
<tr>
<td><input name="on1" type="hidden" value="Classes" />Classes</td>
</tr>
<tr>
<td><select name="os1">
<option value="Romanian Language Class">Romanian Language Class</option>
</select></td>
</tr>
</tbody>
</table>
<input name="currency_code" type="hidden" value="USD" />
<input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" type="image" />
<img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />

</form>
</div>
<div class="jumbotron">
<h2 id="bold">Romanian for Very Beginners with Music & Rhymes </h2>
<h4 id="bold">starting in October on Saturday mornings.</h4>
<br>
        <p>This is a music and rhymes class for children between 4 – 7 years old who  learn basic Romanian in a fun and interactive way. 
        Meeting via Zoom on Saturdays for 30-40 minutes.  This session is offering a total of 6 classes. Alunelu-alunelu, hai la joc!</p>
        <br>
        <p>We use PayPal for processing the payment. You can check out as Paypal Guest using any credit card. </p>
        <br>
        <p>Fees: $10/class for non-members and $8/class for Romanul Corp members.</p>
        <br>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal"><input name="cmd" type="hidden" value="_s-xclick" />
<input name="hosted_button_id" type="hidden" value="WJ6PR5K5PUTD6" />
<table>
<tbody>
<tr>
<td><input name="on0" type="hidden" value="Categories" />Categories</td>
</tr>
<tr>
<td><select name="os0">
<option value="Romanul Non-Member">Romanul Non-Member $60.00 USD</option>
<option value="Romanul Member">Romanul Member $48.00 USD</option>
</select></td>
</tr>
<tr>
<td><input name="on1" type="hidden" value="Romanian Language Class" />Romanian Language Class</td>
</tr>
<tr>
<td><select name="os1">
<option value="Music &amp; Rhymes 4-7 years old">Music &amp; Rhymes 4-7 years old</option>
</select></td>
</tr>
</tbody>
</table>
<input name="currency_code" type="hidden" value="USD" />
<input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" type="image" />
<img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />

</form>
</div>

<div class="jumbotron">

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal"><input name="cmd" type="hidden" value="_s-xclick" />
<input name="hosted_button_id" type="hidden" value="BZU7GXX3LQ2Z2" />
<table>
<tbody>
<tr>
<td><input name="on0" type="hidden" value="Categories" />Categories</td>
</tr>
<tr>
<td><select name="os0">
<option value="Six-hour module">Six-hour module $108.00 USD</option>
</select></td>
</tr>
<tr>
<td><input name="on1" type="hidden" value="Romanian Language for Adults" />Romanian Language for Adults</td>
</tr>
<tr>
<td><select name="os1">
<option value="Adults">Adults</option>
</select></td>
</tr>
</tbody>
</table>
<input name="currency_code" type="hidden" value="USD" />
<input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" type="image" />
<img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />

</form>
</div>
      </div>
  </section>
</div>

  <br>
  <div class="main">
  <section id="section3">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2 id="bold">CLASSES CURRENTLY OFFERED (FALL  2021)</h2>
        <br>
        <h5 id="bold">Romanian for Beginners – Level 1</h5>
        <p>For children and youth who do not speak Romanian at all but who have some basic understanding as latent language 
        (ex. can translate some simple Romanian words or phrases into English).</p>
        <hr>
        <h5 id="bold">Romanian for Beginners – Level 2</h5>
        <p>For children who understand some Romanian and speak simple words or phrases but who do not read.</p>
        <hr>
        <h5 id="bold">Romanian for Beginners – Level 3</h5>
        <p>For children who understand rather well, can speak with the characteristic mistakes and who can read at the 
        level of first or second grade in Romania. </p>
        <hr>
        <h5 id="bold">Intermediary Romanian – Level 1</h5>
        <p>A class for youth and adults who understand, speak and write basic Romanian and who aim at improving their 
        language skills and their general knowledge about the Romanian culture. </p>
        <hr>
        <h6 id="italic">Saturday at 9, 10 and 11 AM/ Sunday at 11 AM, 12 PM, 1 PM. Time is listed as US Eastern Standard Time (EST) New York (GMT -5) (Bucharest -7)</h6>
        <h6 id="italic">The 12 sessions will be offered via Zoom only. In addition, we might schedule some special in-person sessions in a few locations in Connecticut.
Thank you for your support and we are looking forward to another great school year together!</h6>
<hr>
        <h5 id="bold">Romanian as Second Language for Adults – an online summer class for our American friends and relatives</h5>
        <p>The class offers an introduction to Romanian language with examples from daily life, including also aspects 
        from Romanian culture. The course schedule is flexible and it will be determined together with the instructor at 
        the most convenient dates and time for all the participants.</p>
        <hr>
        <p><a class="buttonfx slideleft bouncein" href="#" role="button">Learn more</a></p>
      </div>
      </div>
  </section>
  </div>

  <br>
  <div class="main">
  <section id="section4">
    <div class="container jumbo">
      <div class="jumbotron">

        <h2 id="bold">Fall 2021 Instructors</h2>
        <br>

<div class="row">
<div class="col">

<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Nora Vasilescu</h5>
    <img class="card-img-top" src="https://romanulonline.org/wp-content/uploads/2021/02/Nora-V-300x225.jpg" alt="Card image cap">
<button type="button" class="buttonfx slideleft bouncein" data-toggle="modal" data-target="#exampleModalCenter">
  Nora Vasilescu
</button>
</div>
</div>

</div>

<div class="col">

<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Luiza Lucia Crivăț</h5>
    <img class="card-img-top" src="https://romanulonline.org/wp-content/uploads/2021/02/Luiza-Crivat-2-300x289.jpg" alt="Card image cap">
<button type="button" class="buttonfx slideleft bouncein" data-toggle="modal" data-target="#exampleModalCenter1">
  Luiza Lucia Crivăț
</button>
</div>
</div>

</div>
<div class="w-100"></div>
<div class="col">

<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Mihaela-Carmen Hagea (Pastaeru)</h5>
    <img class="card-img-top" src="https://romanulonline.org/wp-content/uploads/2021/08/Mihaela-Hagea-Pastaeru_pic-300x300.jpg" alt="Card image cap">
<button type="button" class="buttonfx slideleft bouncein" data-toggle="modal" data-target="#exampleModalCenter2">
  Mihaela-Carmen Hagea (Pastaeru)
</button>
</div>
</div>

</div>

<div class="col">
<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Florina Vaipan</h5>
    <img class="card-img-top" src="https://romanulonline.org/wp-content/uploads/2021/03/Florina-237x300.jpg" alt="Card image cap">
<button type="button" class="buttonfx slideleft bouncein" data-toggle="modal" data-target="#exampleModalCenter3">
  Florina Vaipan
</button>
</div>
</div>

</div>

</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nora Vasilescu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Nora Vasilescu graduated with an M.A. from the University of Bucharest, Faculty of Letters, in 1989, 
        where she worked as an Assistant Professor for the next four years. Fulbright Grant at Texas Pan American University. 
        Scientific researcher at National Center for the Study and Appraise of Folklore in Bucharest. Author of three novels in Romanian, 
        several poetry books, theatre texts, and other publications. Volunteers for Literacy Volunteers of Meriden/ Wallingford.
      </div>
      
    </div>
  </div>
</div>

        

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Luiza Lucia Crivăț</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Luiza Lucia Crivăț is an experienced and devoted English teacher living in Bucharest. She is a high school teacher with over 25 years of experience. 
        Luiza obtained a B.A. degree and a Master’s Degree from the University of Bucharest, specializing in English. Over 20 years ago, Luiza has initiated 
        and coordinated the participation of her high school students in many international projects, such as Comenius, Youth in Action, Socrates and private 
        correspondence or European mobility projects. Currently, she is part of the coordinating team for various Erasmus project focused on Jobs for the Future.  
        Enthusiasm, love for her job and the constant hope for self-improvement motivate her and fuel her creed that hope and joy at heart make life worth living. 
        Luiza is the author of 13 textbooks for teaching English to children and youth; she translated into Romanian 8 books by English authors.
      </div>
      
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Mihaela-Carmen Hagea (Pastaeru)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Mihaela-Carmen Hagea (Pastaeru) is a graduate in Foreign Languages and Literature (English and Spanish) from the Ovidius University in Constanta, 
        following that with a Postgraduate Public Relations Degree from the University of Bucharest. With over 10 years of professional experience ranging 
        from PR & marketing, client service to linguistic field (interpreter, translator, teacher), she feels most comfortable in a creative outlet. Currently 
        living in northern Italy, she is teaching English to different age groups. She is also teaching Business English to Romanian companies.
As part of a minority ethnic group herself (Aromanians), she is focused on delivering quality education and creating a dynamic environment where students thrive,
 all while embracing diversity and fostering culturally inclusive classrooms.  She is part of Comunitatea Armână from Bucharest (Romania), an NGO whose main goal 
 is to preserve and develop the language, traditions and the whole Aromanian spiritual and cultural specificity, both in Romania and throughout the entire original 
 space inhabited by Aromanians. Within this organization, she has been involved in different cultural projects, such as coordinating the ‘Youth in Action’ programmes 
 (for the Balkan countries), organizing PR activities for the Aromanian National Day or the Aromanian Cultural Days or promoting various theatrical projects.
Mihaela enjoys taking on new challenges, designing and disseminating various types of educational courses with deliberate attention and focus. She is committed to 
promoting and facilitating contacts and connections between Romanians living in communities all throughout the world, by engaging in meaningful learning experiences 
for all parties involved. Fluent in English, Spanish and Italian and intermediate in French.
      </div>
      
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Florina Vaipan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Florina Vaipan graduated from the Faculty of Letters and Sciences of the Ștefan cel Mare University of Suceava, 
        specializing in Romanian Language and Literature – French Language and Literature (1997). From 2003 to 2007 she 
        followed the doctoral studies at the “A. I. Cuza” University in Iași, with a comparative study of the transition 
        customs of Romanians and Hungarians. In the meantime, she taught Romanian as Second Language in schools from the 
        Hungarian minority in Romania. Florina has published specialized articles in comparative folklore, Romanian teaching methodology, 
        and evaluation. Also, she published an auxiliary manual of Romanian language and literary theory, a monographic study comparing 
        the wedding ceremony of Romanians and Hungarians and an essay book. She currently lives in Spain and works as a tourist 
        accommodation and housekeeping supervisor expert. 
      </div>
      
    </div>
  </div>
</div>


      </div>
      </div>
  </section>
</div>

  <br>
  <div class="main">
  <section id="section5">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2 id="bold">Rules and Policies</h2>
        <ul>
        <li>Children and youth classes will have at least 3 students but no more than 5 students.</li>
        <li>Adult classes do not have an attendance limit. </li>
        <li>Each session offers a package of 12 weekly classes (one per week). During the summer, we may offer courses of 6 weekly classes.</li>
        <li>Class duration is between 45-60 minutes, depending on the age group.</li>
        <li>Classes are offered online mainly during the weekends (Sat-Sun). By request, some classes can be offered during the week (M-F) through special arrangements. </li>
        <li>Links to the online classes will be sent after the registration and payment are received and prior to the start day of the classes. </li>
        <li>We cannot offer access to individual lessons. To guarantee a seat in class, the whole 12 hours package has to be purchased at the time of registration.</li>
        <li>Children under the age of 16 must be supervised by an adult during the online class, or at least somebody else must be home during the class.</li>
        <li>Instructors will not allow unsupervised children to attend the online class. </li>
        </ul>
        <h5 id="bold">Cancellation/Credit</h5>
        <p>Due to the small class sizes as well as our contractual obligations to the teachers, we cannot offer make-up sessions for missed classes, or issue any refunds. Under special circumstances (emergencies, illness, etc.), credit for the next session for up to max. 2 classes (hours) could be granted on case-by-case basis.</p>

      </div>
      </div>
  </section>
  </div>

  <br>
  <div class="main">
  <section id="section6">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2 id="bold">Sponsors and Donors</h2>
        <p>When you click on the scroll down arrow, this is where you will end up.</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input name="cmd" type="hidden" value="_s-xclick" />
<input name="hosted_button_id" type="hidden" value="M4WEAR8K7ZYZS" />
<table>
<tbody>
<tr>
<td><input name="on0" type="hidden" value="Sponsor's Name" />Sponsor's Name</td>
</tr>
<tr>
<td><input maxlength="200" name="os0" type="text" /></td>
</tr>
<tr>
<td><input name="on1" type="hidden" value="Email Address" />Email Address</td>
</tr>
<tr>
<td><input maxlength="200" name="os1" type="text" /></td>
</tr>
</tbody>
</table>
<input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" type="image" />
<img src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />

</form>
      </div>
      </div>
  </section>
  </div>

  <br>
  <section id="section7">
    <div class="container jumbo">
      <div class="jumbotron">
        <h2 id="bold">Romanul Corp – Romanian Language School Board</h2>
        <div class="row">
<div class="col">

<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Nora Vasilescu</h5>
    <img class="card-img-top" src="https://romanulonline.org/wp-content/uploads/2021/02/Nora-V-300x225.jpg" alt="Card image cap">
<button type="button" class="buttonfx slideleft bouncein" data-toggle="modal" data-target="#exampleModalCenter">
  Nora Vasilescu
</button>
</div>
</div>

</div>

<div class="col">

<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Luiza Lucia Crivăț</h5>
    <img class="card-img-top" src="https://romanulonline.org/wp-content/uploads/2021/02/Luiza-Crivat-2-300x289.jpg" alt="Card image cap">
<button type="button" class="buttonfx slideleft bouncein" data-toggle="modal" data-target="#exampleModalCenter1">
  Luiza Lucia Crivăț
</button>
</div>
</div>

</div>
<div class="w-100"></div>
<div class="col">

<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Mihaela-Carmen Hagea (Pastaeru)</h5>
    <img class="card-img-top" src="https://romanulonline.org/wp-content/uploads/2021/08/Mihaela-Hagea-Pastaeru_pic-300x300.jpg" alt="Card image cap">
<button type="button" class="buttonfx slideleft bouncein" data-toggle="modal" data-target="#exampleModalCenter2">
  Mihaela-Carmen Hagea (Pastaeru)
</button>
</div>
</div>

</div>

<div class="col">
<div class="card" style="width: 18rem;">
<div class="card-body">
    <h5 class="card-title">Florina Vaipan</h5>
    <img class="card-img-top" src="https://romanulonline.org/wp-content/uploads/2021/03/Florina-237x300.jpg" alt="Card image cap">
<button type="button" class="buttonfx slideleft bouncein" data-toggle="modal" data-target="#exampleModalCenter3">
  Florina Vaipan
</button>
</div>
</div>

</div>

</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nora Vasilescu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Nora Vasilescu graduated with an M.A. from the University of Bucharest, Faculty of Letters, in 1989, 
        where she worked as an Assistant Professor for the next four years. Fulbright Grant at Texas Pan American University. 
        Scientific researcher at National Center for the Study and Appraise of Folklore in Bucharest. Author of three novels in Romanian, 
        several poetry books, theatre texts, and other publications. Volunteers for Literacy Volunteers of Meriden/ Wallingford.
      </div>
      
    </div>
  </div>
</div>
        

        

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Luiza Lucia Crivăț</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Luiza Lucia Crivăț is an experienced and devoted English teacher living in Bucharest. She is a high school teacher with over 25 years of experience. 
        Luiza obtained a B.A. degree and a Master’s Degree from the University of Bucharest, specializing in English. Over 20 years ago, Luiza has initiated 
        and coordinated the participation of her high school students in many international projects, such as Comenius, Youth in Action, Socrates and private 
        correspondence or European mobility projects. Currently, she is part of the coordinating team for various Erasmus project focused on Jobs for the Future.  
        Enthusiasm, love for her job and the constant hope for self-improvement motivate her and fuel her creed that hope and joy at heart make life worth living. 
        Luiza is the author of 13 textbooks for teaching English to children and youth; she translated into Romanian 8 books by English authors.
      </div>
      
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Mihaela-Carmen Hagea (Pastaeru)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Mihaela-Carmen Hagea (Pastaeru) is a graduate in Foreign Languages and Literature (English and Spanish) from the Ovidius University in Constanta, 
        following that with a Postgraduate Public Relations Degree from the University of Bucharest. With over 10 years of professional experience ranging 
        from PR & marketing, client service to linguistic field (interpreter, translator, teacher), she feels most comfortable in a creative outlet. Currently 
        living in northern Italy, she is teaching English to different age groups. She is also teaching Business English to Romanian companies.
As part of a minority ethnic group herself (Aromanians), she is focused on delivering quality education and creating a dynamic environment where students thrive,
 all while embracing diversity and fostering culturally inclusive classrooms.  She is part of Comunitatea Armână from Bucharest (Romania), an NGO whose main goal 
 is to preserve and develop the language, traditions and the whole Aromanian spiritual and cultural specificity, both in Romania and throughout the entire original 
 space inhabited by Aromanians. Within this organization, she has been involved in different cultural projects, such as coordinating the ‘Youth in Action’ programmes 
 (for the Balkan countries), organizing PR activities for the Aromanian National Day or the Aromanian Cultural Days or promoting various theatrical projects.
Mihaela enjoys taking on new challenges, designing and disseminating various types of educational courses with deliberate attention and focus. She is committed to 
promoting and facilitating contacts and connections between Romanians living in communities all throughout the world, by engaging in meaningful learning experiences 
for all parties involved. Fluent in English, Spanish and Italian and intermediate in French.
      </div>
      
    </div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Florina Vaipan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Florina Vaipan graduated from the Faculty of Letters and Sciences of the Ștefan cel Mare University of Suceava, 
        specializing in Romanian Language and Literature – French Language and Literature (1997). From 2003 to 2007 she 
        followed the doctoral studies at the “A. I. Cuza” University in Iași, with a comparative study of the transition 
        customs of Romanians and Hungarians. In the meantime, she taught Romanian as Second Language in schools from the 
        Hungarian minority in Romania. Florina has published specialized articles in comparative folklore, Romanian teaching methodology, 
        and evaluation. Also, she published an auxiliary manual of Romanian language and literary theory, a monographic study comparing 
        the wedding ceremony of Romanians and Hungarians and an essay book. She currently lives in Spain and works as a tourist 
        accommodation and housekeeping supervisor expert. 
      </div>
      
    </div>
  </div>
</div>
      </div>
      </div>
  </section>
  </div>

  <a class="ct-btn-scroll ct-js-btn-scroll buttonfx slideleft bouncein" href="#section1">Back To Top</a>
  <br><br>
</div>

<style>
#bold{
  font-weight: bold;
}
#italic{
  font-style: italic;
  font-weight: bold;
}
</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <%# <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> %>