<!DOCTYPE html>
<br>
<%# <div class="jumbotron" style="padding:30px; background-color: #002b7f; color: #FFFFFF; height: auto; width: auto;">
<h1 class="display-3" id="heading">SONDAJE DE OPINIE – SURVEYS<h1>
</div> %>
<body style="font-family: 'Cormorant Garamond', serif;">
<div class="row py-5">
      <div class="col-lg-12 mx-auto">
        <div class="text-white p-5 shadow-sm rounded banner" style="background-color: #002b7f; border: 1px solid;">
          <h1 class="display-4">SONDAJE DE OPINIE – SURVEYS</h1>
          <p class="lead">Select a category from the list below</p>
          </p>
        </div>
      </div>
    </div>

<div class="mainPanel" style="border: 1px solid; padding-top: 8%;">
<div class="row">
<div class="col-md-6" style="margin-top: 0.5%;">
  <h4><input name="cmd" type="hidden" value="_s-xclick" /> <input name="hosted_button_id" type="hidden" value="QKEC3G3X9P3RJ" /><span style="color: #000080;">Școala ȋn limba romȃnă ȋn Connecticut</span></h4>
    <p>Bine v-am găsit! Dorim să vă cerem opinia legat organizarea de cursuri online in limba romȃnă in Connecticut. Cursurile se adreseaza in primul rȃnd copiilor și tinerilor noștri din Connecticut, dar si parintilor. Daca va intereseaza, vă invităm să completați sondajul de opinie de mai jos.
    Vă mulțumim!</p>
    <a href="https://docs.google.com/forms/d/18exYmG_6ml-_K2BypmNrxbT3n9kAm6-bX7ra9QznP6s/viewform?gxids=7757&fbclid=IwAR2jNya8N4BTwu4KoTxJ_SrHDtMy70JlnndLDoWelOipdnetQgRMoSHfUtE&edit_requested=true" >Sondaj disponibil pe Google Docs</a>
</div>

<div class="col-md-6" style="margin-top: 0.5%;">
  <h4><input name="cmd" type="hidden" value="_s-xclick" /> <input name="hosted_button_id" type="hidden" value="QKEC3G3X9P3RJ" /><span style="color: #000080;">Pagina de prezentare Servicii si Afaceri</span></h4>
    <p>Pe 1 Decembrie, organizația non-profit Romȃnul a lansat pagina de promovare a serviciilor si afacerilor romanesti din Connecticut si din statele invecinate (NY, MA, RI).
    Campania de strangere de date continua. Multumim celor care au trimis pana acum oferta sau cererile lor, peste 30 de persoane si afaceri. Daca doriti sa participati sau sa va inscrieti pe aceasta pagina, va invitam sa completati formularul de mai jos.</p>
    <a href="https://docs.google.com/forms/d/1d-3a1-D1PmQt9rAS2ibPl36kHss-oiZJYlB3AMhrKrA/viewform?gxids=7757&edit_requested=true" >Sondaj disponibil pe Google Docs</a>
</div>
</div>

</div>

<br><br>
</body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <%# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>  %>
  <%# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   